@font-face {
  font-family: "NeutrifPro-Regular";
  src: local("NeutrifPro-Regular"), url(./fonts/NeutrifPro-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NeutrifPro-Medium";
  src: local("NeutrifPro-Medium"), url(./fonts/NeutrifPro-Medium.ttf);
}

@font-face {
  font-family: "NeutrifPro-SemiBold";
  src: local("NeutrifPro-Medium"), url(./fonts/NeutrifPro-SemiBold.ttf);
}

@font-face {
  font-family: "NeutrifPro-Bold";
  src: local("NeutrifPro-Medium"), url(./fonts/NeutrifPro-Bold.ttf);
}

@font-face {
  font-family: "NeutrifPro-RegularItalic";
  src: local("NeutrifPro-RegularItalic"), url(./fonts/NeutrifPro-RegularItalic.ttf);
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #f7f7f9;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #182b49;
  font-family: "NeutrifPro-Regular";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h4 {
  font-size: 16px;
  color: #001738;
}

h3 {
  font-size: 20px;
  color: #001738;
  font-family: "NeutrifPro-SemiBold";
}

h2 {
  font-size: 26px;
  color: #001738;
  font-family: "NeutrifPro-SemiBold";
}

b {
  color: #001738;
}

.overlay {
  filter: blur(0) saturate(1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: #333333;
  opacity: 0.5;
}
